@mixin sub-titulo{
    font-size:40px;
    color: white;
    text-align: left;
    margin-left: 50px;
}

@mixin card-b {
    border: solid white 1px;
    background-color: white;
    width:220px;
    border-radius: 1%;
    margin-bottom: 40px;
    
}

@mixin img-b {
    width: 100%;
    border-radius: 1%; 
}

@mixin nombre-b {
    display: flex;
    flex-direction: column;
    color: grey;
    font-size: 30px;
    text-align: left;
    padding-left: 5px;
}

@mixin precio-b {
    color: grey;
    font-size: 30px;
}

@mixin ranking-b {
    color:black;
    font-size:30px;
}