.c{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    h1{
        font-size: 40px;
        width:32vw;
        text-align: center;
    }
    .c1{
        margin-bottom: 30px;
        .imgc1{
            display: flex;
            flex-direction: column;
            align-items: center;
            background: url("../img/shoes.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 60vw;
            height: 250px;
            &:hover {
                cursor: pointer;
                box-shadow: 2px 0px 16px 3px white;
            }
        }
    }
    .c2{
        margin-bottom: 30px;
        .imgc2{ 
            display: flex;
            flex-direction: column;
            align-items: center;
            background: url("../img/jeans.jpeg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 60vw;
            height: 360px;
            &:hover {
                cursor: pointer;
                box-shadow: 2px 0px 16px 3px white;
            }
        }
    }
    .c3{
        margin-bottom: 30px;
        .imgc3{ 
            display: flex;
            flex-direction: column;
            align-items: center;
            background: url("../img/shirts.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 60vw;
            height: 360px;
            &:hover {
                cursor: pointer;
                box-shadow: 2px 0px 16px 3px white;
            }
        }
    }
    .c4{
        .imgc4{ 
            display: flex;
            flex-direction: column;
            align-items: center;
            background: url("../img/outfits.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 60vw;
            height: 640px;
            &:hover {
                cursor: pointer;
                box-shadow: 2px 0px 16px 3px white;
            }
        }
    }
}