.c{
    display: flex;
    flex-direction: column;
    .c1{
        position: relative;
        border: solid white;
        width:220px;
        overflow: hidden;
        h2{
            position:absolute;
            font-size: 35px;
            left:60px;
        }
        img{
            width: 100%;
        }

    }
}